<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\semi\src\main\webapp\WEB-INF\views\forGongjidetail.css">
    <style>
      
    </style>

</head>
<body >
    <h3 align="center">공지사항</h3>
<fieldset>
<div class="header">
<p id="title"></p>
<p id="date"></p>
</div>
<hr>
<div class="file-info">
<strong>첨부파일</strong>  | 첨부파일 다운로드  
<div class="fileDownload" id="fileDownload">
  
</div>
</div>
<hr>
<div class="gongjigle" id="gongjigle">

</div>

</fieldset>
<script>
  const savedTitle = localStorage.getItem("savedTitle");   
 const savedContent = localStorage.getItem("savedContent");
  const savedDate = localStorage.getItem("savedDate");
  const savedFile = localStorage.getItem("savedFile");


// 가져온 내용을 gongjigle div에 표시
if (savedTitle) {
    document.getElementById("title").textContent = savedTitle;
} else {
    document.getElementById("title").textContent = "제목이 없습니다.";
}

if (savedDate) {
    document.getElementById("date").textContent = savedDate;
} else {
    document.getElementById("date").textContent = "날짜가 없습니다.";
}

if (savedFile) {
   const downloadLink = document.createElement('a');
            downloadLink.href = savedFile;
            downloadLink.download = '첨부파일'; // 다운로드할 파일의 이름
            downloadLink.innerHTML  = '<img src="/free-icon-download-130905.png" alt="">';
            document.getElementById("fileDownload").appendChild(downloadLink);
}


if (savedContent) {
    document.getElementById("gongjigle").textContent = savedContent;
} else {
    document.getElementById("gongjigle").textContent = "내용이 없습니다.";
}
</script>
   
</body>
</html>