<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\semi\src\main\webapp\WEB-INF\views\forGongji.css">
    
</head>
<body >
    <h3 >공지사항</h3>


    <div class="gong">
       <table>
        <tr>
            <td><a href="">제목1</a></td>
            <td><a href="">제목2</a></td>
        </tr>
        <tr>
            <td><a href="">제목3</a></td>
            <td><a href="">제목4</a></td>
        </tr>
        <tr>
            <td><a href="">제목5</a></td>
            <td><a href="">제목6</a></td>
        </tr>
        <tr>
            <td><a href="">제목7</a></td>
            <td><a href="">제목8</a></td>
        </tr>

        </table>

    </div>
<form action="">
    <div class="search-group">
    <input type="text" id="search" placeholder="value"><button><img src="/free-icon-magnifier-2311526.png" ></button> 
    </div> 
    <div class="pagination" id="numbers">
        <a href="#">&laquo; previous</a>  <!-- Previous page button -->
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">....</a>
        <a href="#">67</a>
        <a href="#">68</a>
        <a href="#">next &raquo;</a>  <!-- Next page button -->
    </div>
    <input type="button" value="글쓰기" id="gle">
</form>
</body>
</html>